<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.currency_converter">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name=".activity.MyApplication"
		android:allowBackup="false"
		android:icon="@mipmap/app_icon"
		android:label="CurrencyConverter"
		android:roundIcon="@mipmap/app_icon"
		android:supportsRtl="false"
		>

		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
			android:exported="true"
			android:hardwareAccelerated="true"
			android:launchMode="singleTop"
			android:screenOrientation="portrait"
			android:theme="@style/LaunchTheme"
			android:windowSoftInputMode="stateAlwaysHidden">
			<meta-data
				android:name="io.flutter.embedding.android.NormalTheme"
				android:resource="@style/NormalTheme" />
			<meta-data
				android:name="io.flutter.embedding.android.SplashScreenDrawable"
				android:resource="@drawable/launch_background" />

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SingleWidgetConfigurationActivity"
			android:exported="true"
			android:theme="@style/MyTheme">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SelectCurrencyActivity"
			android:exported="false"
			android:theme="@style/MyTheme" />
		<activity
			android:name=".ListWidgetConfigActivity"
			android:exported="true"
			android:theme="@style/MyTheme">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<receiver
			android:name=".widget.SingleConvertorProvider"
			android:exported="true"
			android:label="Single Convertor">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/single_convertor_provider" />
		</receiver>

		<receiver
			android:name=".widget.ListWidgetProvider"
			android:exported="true"
			android:label="Multi Convertor">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/multi_convertor_provider" />
		</receiver>

		<receiver
			android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="es.antonborri.home_widget.action.BACKGROUND" />
			</intent-filter>
		</receiver>

		<service
			android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
			android:exported="true"
			android:permission="android.permission.BIND_JOB_SERVICE|android.permission.BIND_REMOTEVIEWS" />

		<service
			android:name=".widget_service.ListWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
		<meta-data
			android:name="io.flutter.network-policy"
			android:resource="@xml/network_security_config"
			android:usesCleartextTraffic="true" />
		<meta-data
			android:name="flutterEmbedding"
			android:value="2" />
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-3940256099942544~4354546703" />
	</application>

</manifest>